main {
  font-family: "Facit";
  background-color: #f9f5f5;
}
.panel-list li {
  list-style-type: none;
}
.title-date {
  padding-left: 40px;
  font-size: 20px;
  font-weight: bold;
  color: #666666;
}
.course-item {
  background-color: white;
  padding: 20px;
  border: #f9f0f0 2px solid;
}
